@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body, button, select, input, textarea {
    font-family: 'Roboto', sans-serif;
    color: white;
    
}

* {
    box-sizing: border-box;
    
}

html, body {
    margin: 0;
    background-color: black;
}

:root {
    --darkgreen: #014034;
    --mediumgreen: #02735E;
    --lightgreen: #038C73;
    --cleargreen: #36BFB1;
    --menuheight: 65px;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 24px;
}


button {
    background: var(--cleargreen);
    border: 0;
    border-radius: 20px;
    padding: 10px 35px;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;

}

button:hover {
    background-color: var(--mediumgreen);
}

header {
    height: calc(100vh - var(--menuheight));
    display: flex;
    align-items: center;
}

header .container {
    height: fit-content;
    width: 50%;
    padding: 0 100px;

}

header .container img {
    display: none;
}

header .container h1 {
    color: var(--lightgreen);
}

header .container button {
    margin-top: 30px;
}

nav {
    display: flex;
    height: var(--menuheight);
    justify-content: space-between;
    padding: 0 100px;
    position: sticky;
    top: 0;
    background-color: black;
}

nav ul button svg {
    display: none;
}

nav img {
    height: 60px;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
    
}

section {
    height: 1500px;
    background-color: #014034;
}


@media (max-width: 1000px) {
    header .container {
        width: 100%;
        padding: 70px;
    }

}


/* tablet response */
@media (max-width: 767px) {
    
    header .container {
        padding: 50px;
    }

    header .container img {
        display: inline;
        height: 70px;
        margin-bottom: 50px;
    }

    nav {
        padding: 0 30px;
    }

    nav img {
        display: none;
    }
    
    nav ul {
        padding: 0;
        justify-content: space-between;
        
    }
}

/* phone response */
@media (max-width: 480px) {
    header .container {
        padding: 0 40px;
    }

    nav {
        padding: 0 20px;
        height: 75px;

    }

    nav button {
        height: 50px;
        font-size: 12px;
        padding-bottom: 10px;
    }

    nav ul {
        padding: 0;
        justify-content: space-around;
        
    }

    nav ul button svg {
        display: block;
        margin: 0 auto;
    }

}
